<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title ADVECS
        link(rel="stylesheet", href="style.css")
    body
        .wrapper
            ul.social.social__fix
                li.social__item
                    a(href="").telegram 
                li.social__item
                    a(href="").instagram 
                li.social__item
                    a(href="").youtube 
                li.social__item
                    a(href="").vk 
            header.header
                .container
                    .header__row.flex-wrap.aic
                        .header__col.header__logo
                            .logo
                                img(src="img/logo-big.png", alt="").big
                                img(src="img/logo-small.png", alt="").small
                        .header__col.header__contacts
                            .contacts 
                                a(href="") Санкт - Петербург 
                                |, ул. Правды, 17 <br>пн-пт 10:00-20:00, сб 11:00-17:00
                        .header__col.header__phone
                            .phone
                                a(href="tel:8 812 322-00-55") 8 812 322-00-55
                                a(href="").js-call  Заказать звонок
                        .header__col.header__auth
                            .auth.flex-wrap.aic
                                a(href="#feedback").btn.btn-green подключиться
                                a(href="").btn.btn-purple войти
                        .header__col
                            .header__burger
                                span
                    .header-mobile-menu
                        ul
                            li
                                a(href="") Войти
                            li
                                a(href="#feedback") подключиться
                            li
                                a(href="#feedback") КОНТАКТЫ
                        .header-mobile-menu__call.flex.aic
                            .header-mobile-menu__call-img.flex.aic.jcc
                                img(src="img/icon/phone.svg", alt="")
                            .header-mobile-menu__call-links
                                a(href="tel:8 812 322-00-55") 8 812 322-00-55
                                a(href="").js-call Заказать звонок
            section.b-top
                .b-top__content
                    .container
                        .b-top__content-inner
                            .b-top__content-logo
                                img(src="img/b-top-logo.svg", alt="")
                            h1.b-top__content-title Официальный партнер системы «Метрис» в Санкт-Петербурге
                            a(href="#feedback").btn.btn-green подключиться
                        a(href="").b-top__all-btn
                            span все сервисы
                            img(src="img/icon/arrow-down.svg", alt="")
                .b-top__desc
                    .container
                        .b-top__desc-row.flex-wrap
                            .b-top__desc-left
                                h2 Почему вы получаете максимум с «Адвекс-Новостройки» и metris.pro
                            .b-top__desc-right
                                p Корпорация «Адвекс» – один из лидеров на рынке новостроек СПб, 16 офисов в Санкт-Петербурге открыты для наших клиентов. Заключая договор с нами, вы получаете доступ к объектам от 85 застройщиков СПб.  Более 600 агентств недвижимости доверили нам свои сделки.
                                p Все это позволяет нам выстраивать максимально выгодные и долгосрочные отношения как с партнерами, так и с застройщиками. Присоединяетесь к нашей дружной команде!
            section.tools 
                .container
                    h2 Инструменты metris.pro позволяют
                    ul.tools__list.flex-wrap
                        li.tools__item
                            a(href="").tools__item-link.js-open-popup-services
                                .tools__item-icon
                                    img(src="img/icon/tools.svg", alt="")
                                h3.tools__item-title Авансирование
                                p.tools__item-desc Больше не надо жать своих денег, получайте комиссию за три дня после сделки.
                                .tools__item-more.flex.aic
                                    span подробнее
                                    .arrow
                        li.tools__item
                            a(href="").tools__item-link.js-open-popup-services
                                .tools__item-icon
                                    img(src="img/icon/tools.svg", alt="")
                                h3.tools__item-title Ипотека
                                p.tools__item-desc Бесплатная консультация по ипотеке, подача документов в несколько банков. 90% наших клиентов получают одобрения!
                                .tools__item-more.flex.aic
                                    span подробнее
                                    .arrow
                        li.tools__item
                            a(href="").tools__item-link.js-open-popup-services
                                .tools__item-icon
                                    img(src="img/icon/tools.svg", alt="")
                                h3.tools__item-title Удобная база новостроек
                                p.tools__item-desc Смотрите актуальные остатки, отправляйте презентации вашим клиентам, бронируйте онлайн/
                                .tools__item-more.flex.aic
                                    span подробнее
                                    .arrow
                        li.tools__item
                            a(href="").tools__item-link.js-open-popup-services
                                .tools__item-icon
                                    img(src="img/icon/tools.svg", alt="")
                                h3.tools__item-title Профессиональная команда
                                p.tools__item-desc Всегда на связи партнёрский отдел, координаторы и управляющие. Наш опыт работы – это залог успеха ваших сделок.
                                .tools__item-more.flex.aic
                                    span подробнее
                                    .arrow
                        li.tools__item
                            a(href="").tools__item-link.js-open-popup-services
                                .tools__item-icon
                                    img(src="img/icon/tools.svg", alt="")
                                h3.tools__item-title Обучение
                                p.tools__item-desc Приходите на лекции от представителей застройщиков и управляющих, задавайте вопросы, будьте в курсе ситуации на рынке.
                                .tools__item-more.flex.aic
                                    span подробнее
                                    .arrow
                        li.tools__item
                            a(href="").tools__item-link.js-open-popup-services
                                .tools__item-icon
                                    img(src="img/icon/tools.svg", alt="")
                                h3.tools__item-title Экскурсии
                                p.tools__item-desc Каждый четверг вы можете ездить на экскурсии для агентов, посещать шоу-румы и стройки.
                                .tools__item-more.flex.aic
                                    span подробнее
                                    .arrow
                        li.tools__item
                            a(href="").tools__item-link.js-open-popup-services
                                .tools__item-icon
                                    img(src="img/icon/tools.svg", alt="")
                                h3.tools__item-title Мероприятия от застройщиков
                                p.tools__item-desc Получайте приглашения на закрытые мероприятия от застройщиков. Бизнес-завтраки, презентации проектов и награждения лучших агентов.
                                .tools__item-more.flex.aic
                                    span подробнее
                                    .arrow
                        li.tools__item
                            a(href="").tools__item-link.js-open-popup-services
                                .tools__item-icon
                                    img(src="img/icon/tools.svg", alt="")
                                h3.tools__item-title Почему вы получаете максимум
                                p.tools__item-desc Корпорация «Адвекс» – один из лидеров на рынке новостроек СПб, 16 офисов в Санкт-Петербурге открыты для наших клиентов. 
                                .tools__item-more.flex.aic
                                    span подробнее
                                    .arrow
                        li.tools__item
                            a(href="").tools__item-link.js-open-popup-services
                                .tools__item-icon
                                    img(src="img/icon/tools.svg", alt="")
                                h3.tools__item-title Максимальный процент
                                p.tools__item-desc Получайте повышенный процент благодаря прямым договорам и общему объему продаж 
                                .tools__item-more.flex.aic
                                    span подробнее
                                    .arrow
                        li.tools__item
                            a(href="").tools__item-link.js-open-popup-services
                                .tools__item-icon
                                    img(src="img/icon/tools.svg", alt="")
                                h3.tools__item-title Авансирование
                                p.tools__item-desc Больше не надо жать своих денег, получайте комиссию за три дня после сделки.
                                .tools__item-more.flex.aic
                                    span подробнее
                                    .arrow
                        li.tools__item
                            a(href="").tools__item-link.js-open-popup-services
                                .tools__item-icon
                                    img(src="img/icon/tools.svg", alt="")
                                h3.tools__item-title Ипотека
                                p.tools__item-desc Бесплатная консультация по ипотеке, подача документов в несколько банков. 90% наших клиентов получают одобрения!
                                .tools__item-more.flex.aic
                                    span подробнее
                                    .arrow
                        li.tools__item
                            a(href="").tools__item-link.js-open-popup-services
                                .tools__item-icon
                                    img(src="img/icon/tools.svg", alt="")
                                h3.tools__item-title Удобная база новостроек
                                p.tools__item-desc Смотрите актуальные остатки, отправляйте презентации вашим клиентам, бронируйте онлайн/
                                .tools__item-more.flex.aic
                                    <span>подробнее</span>
                                    .arrow
                    a(href="").btn.btn-purple.tools-btn-all смотреть все
            section.benefit
                .container
                    .benefit__row.flex-wrap
                        .benefit__left
                            .benefit__left-inner
                                h2 Чем полезна система metris.pro
                                p Максимальные возможности, при минимально затраченных Вами ресурсах.
                                ul.benefit__list
                                    li.benefit__item.active.flex.aic
                                        span Для крупных и средних агентств
                                        .arrow
                                    li.benefit__item.flex.aic
                                        span Для небольших АН и ИП
                                        .arrow
                        .benefit__right.active
                            .benefit__right-inner
                                .benefit__right-title Для крупных и средних агентств
                                ul
                                    li контроль броней и сделок
                                    li рассылки для сотрудников
                                    li финансовый мониторинг
                                    li управление штатом
                                    li Возможность разграничивать функционал.
                                    li обучения от наших в вашем офисе
                                    li выгрузки в Вашу CRM систему
                        .benefit__right
                            .benefit__right-inner
                                .benefit__right-title Для небольших АН и ИП
                                ul
                                    li контроль броней и сделок
                                    li рассылки для сотрудников
                                    li финансовый мониторинг
                                    li управление штатом
                                    li Возможность разграничивать функционал.
                                    li обучения от наших в вашем офисе
                                    li выгрузки в Вашу CRM систему
            section.quests
                .container
                    h2 Вопрос - ответ
                    ul.quests__list
                        li.quests__item
                            .quests__item-top.flex.aic
                                img(src="img/icon/quest.png", alt="")
                                .quests__item-title Преимущества Адвекс?
                                .arrow
                            .quests__item-answer
                                p Корпорация «Адвекс» – один из лидеров на рынке новостроек СПб, 16 офисов в Санкт-Петербурге открыты для наших клиентов. Заключая договор с нами, вы получаете доступ к объектам от 85 застройщиков СПб.  Более 600 агентств недвижимости доверили нам свои сделки. Все это позволяет нам выстраивать максимально выгодные и долгосрочные отношения как с партнерами, так и с застройщиками.
                        li.quests__item
                            .quests__item-top.flex.aic
                                img(src="img/icon/quest.png", alt="")
                                .quests__item-title Преимущества Метрис?
                                .arrow
                            .quests__item-answer
                                p Корпорация «Адвекс» – один из лидеров на рынке новостроек СПб, 16 офисов в Санкт-Петербурге открыты для наших клиентов. Заключая договор с нами, вы получаете доступ к объектам от 85 застройщиков СПб.  Более 600 агентств недвижимости доверили нам свои сделки. Все это позволяет нам выстраивать максимально выгодные и долгосрочные отношения как с партнерами, так и с застройщиками.
                        li.quests__item
                            .quests__item-top.flex.aic
                                img(src="img/icon/quest.png", alt="")
                                .quests__item-title Полная ли база новостроек?
                                .arrow
                            .quests__item-answer
                                p Корпорация «Адвекс» – один из лидеров на рынке новостроек СПб, 16 офисов в Санкт-Петербурге открыты для наших клиентов. Заключая договор с нами, вы получаете доступ к объектам от 85 застройщиков СПб.  Более 600 агентств недвижимости доверили нам свои сделки. Все это позволяет нам выстраивать максимально выгодные и долгосрочные отношения как с партнерами, так и с застройщиками.
                        li.quests__item
                            .quests__item-top.flex.aic
                                img(src="img/icon/quest.png", alt="")
                                .quests__item-title Отличие от конкурентов?
                                .arrow
                            .quests__item-answer
                                p Корпорация «Адвекс» – один из лидеров на рынке новостроек СПб, 16 офисов в Санкт-Петербурге открыты для наших клиентов. Заключая договор с нами, вы получаете доступ к объектам от 85 застройщиков СПб.  Более 600 агентств недвижимости доверили нам свои сделки. Все это позволяет нам выстраивать максимально выгодные и долгосрочные отношения как с партнерами, так и с застройщиками.
            section.connect
                .container
                    .connect__row.flex-wrap
                        .connect__left
                            .connect__left-img
                                img(src="img/connect.png", alt="")
                        .connect__right
                            h2 Как подключится
                            ul.connect__list
                                li.connect__item
                                    .connect__item-title 1 Первый пункт
                                    p Руководитель отдела продаж – должность специфическая и крайне ответственная.
                                li.connect__item
                                    .connect__item-title 2 Второй пункт
                                    p Практика показывает, что существуют менеджеры по продажам, способные самостоятельно планировать и осуществлять свои действия. Но также встречается иная ситуация. Поэтому за работой сотрудников необходим постоянный контроль.и осуществлять свои действия. Но также встречается иная ситуация. Поэтому за работой сотрудников необходим постоянный контроль.
                            a(href="").btn.btn-icon.connect__btn.flex.aic.jcc
                                | читать все
                                .icon.flex.aic.jcc
                                    .arrow
            section.action-connect
                .container
                    .action-connect__row.flex-wrap.aic
                        h2.action-connect__title Оставьте заявку на подключение прямо сейчас
                        .line
                        .action-connect__btn
                            a(href="#feedback").btn.btn-green подключиться
            section.team
                .container
                    .team__nav
                        .team__nav-item.team__nav-item-left
                        .team__nav-item.team__nav-item-right
                    h2 Команда
                    ul.team__list.flex-wrap
                        li.team__item
                            .team__item-inner.flex-wrap
                                .team__item-left
                                    .team__item-img
                                        img(src="img/team/1.png", alt="")
                                    .team__item-title Смирнов Алексей
                                    .team__item-desc Менеджер по продажам
                                .team__item-right
                                    .team__item-right-title Список застройщиков
                                    ul.team__sublist
                                        li.team__sublist-item Группа ЦДС
                                        li.team__sublist-item СК Дальпитерстрой
                                        li.team__sublist-item ГК Главстрой
                                        li.team__sublist-item ГК Эталон
                                        li.team__sublist-item Лидер Групп
                                        li.team__sublist-item Мегалит
                                        li.team__sublist-item СПб Реновация
                                        li.team__sublist-item ГК Эталон
                                        li.team__sublist-item Группа ЦДС
                                        li.team__sublist-item СК Дальпитерстрой
                        li.team__item
                            .team__item-inner.flex-wrap
                                .team__item-left
                                    .team__item-img
                                        img(src="img/team/2.png", alt="")
                                    .team__item-title Светлана Гурская
                                    .team__item-desc Менеджер по продажам
                                .team__item-right
                                    .team__item-right-title Список застройщиков
                                    ul.team__sublist
                                        li.team__sublist-item Группа ЦДС
                                        li.team__sublist-item СК Дальпитерстрой
                                        li.team__sublist-item ГК Главстрой
                                        li.team__sublist-item ГК Эталон
                                        li.team__sublist-item Лидер Групп
                                        li.team__sublist-item Мегалит
                                        li.team__sublist-item СПб Реновация
                                        li.team__sublist-item ГК Эталон
                                        li.team__sublist-item Группа ЦДС
                                        li.team__sublist-item СК Дальпитерстрой
                        li.team__item
                            .team__item-inner.flex-wrap
                                .team__item-left
                                    .team__item-img
                                        img(src="img/team/1.png", alt="")
                                    .team__item-title Смирнов Алексей
                                    .team__item-desc Менеджер по продажам
                                .team__item-right
                                    .team__item-right-title Список застройщиков
                                    ul.team__sublist
                                        li.team__sublist-item Группа ЦДС
                                        li.team__sublist-item СК Дальпитерстрой
                                        li.team__sublist-item ГК Главстрой
                                        li.team__sublist-item ГК Эталон
                                        li.team__sublist-item Лидер Групп
                                        li.team__sublist-item Мегалит
                                        li.team__sublist-item СПб Реновация
                                        li.team__sublist-item ГК Эталон
                                        li.team__sublist-item Группа ЦДС
                                        li.team__sublist-item СК Дальпитерстрой
                        li.team__item
                            .team__item-inner.flex-wrap
                                .team__item-left
                                    .team__item-img
                                        img(src="img/team/2.png", alt="")
                                    .team__item-title Светлана Гурская
                                    .team__item-desc Менеджер по продажам
                                .team__item-right
                                    .team__item-right-title Список застройщиков
                                    ul.team__sublist
                                        li.team__sublist-item Группа ЦДС
                                        li.team__sublist-item СК Дальпитерстрой
                                        li.team__sublist-item ГК Главстрой
                                        li.team__sublist-item ГК Эталон
                                        li.team__sublist-item Лидер Групп
                                        li.team__sublist-item Мегалит
                                        li.team__sublist-item СПб Реновация
                                        li.team__sublist-item ГК Эталон
                                        li.team__sublist-item Группа ЦДС
                                        li.team__sublist-item СК Дальпитерстрой
            section.reviews
                .container
                    .reviews__row.flex-wrap.aic
                        .reviews__left
                            h2 Отзывы
                            p Мы всегда рады обратной связи. Ваши слова помогают нам стать лучше и поддерживают в трудные минуты
                            a(href="").btn.btn-purple.js-open-popap-feedback Оставить отзыв
                        .reviews__right
                            ul.reviews__right-list
                                li.reviews__right-item
                                    .reviews__right-top.flex-wrap.aic
                                        .reviews__right-top-person
                                            .reviews__right-top-person-title Светлана K
                                            .reviews__right-top-person-company Название компании
                                        .reviews__right-top-img
                                            img(src="img/rev.png", alt="")
                                    .reviews__right-text
                                        p Я одна в городе и встреча с Александром разительно меняло мою жизнь) Приобретя сначала в этой квартире комнату, через несколько лет, с помощью Александра, была продана вся квартира со значительной прибылью! Конечно, Александр не мог оставить меня без жилья и провел сделки и по продаже, и по аренде, и по ипотеке! Квалификация видна сразу: объявление мгновенно начало работать, несколько показов - и вот уже найден покупатель! Я с удовольствием доверю свой квартирный вопрос Александру и в следующий раз! 
                                li.reviews__right-item
                                    .reviews__right-top.flex-wrap.aic
                                        .reviews__right-top-person
                                            .reviews__right-top-person-title Светлана K
                                            .reviews__right-top-person-company Название компании
                                        .reviews__right-top-img
                                            img(src="img/rev.png", alt="")
                                    .reviews__right-text
                                        p Я одна в городе и встреча с Александром разительно меняло мою жизнь) Приобретя сначала в этой квартире комнату, через несколько лет, с помощью Александра, была продана вся квартира со значительной прибылью! Конечно, Александр не мог оставить меня без жилья и провел сделки и по продаже, и по аренде, и по ипотеке! Квалификация видна сразу: объявление мгновенно начало работать, несколько показов - и вот уже найден покупатель! Я с удовольствием доверю свой квартирный вопрос Александру и в следующий раз! 
                                li.reviews__right-item
                                    .reviews__right-top.flex-wrap.aic
                                        .reviews__right-top-person
                                            .reviews__right-top-person-title Светлана K
                                            .reviews__right-top-person-company Название компании
                                        .reviews__right-top-img
                                            img(src="img/rev.png", alt="")
                                    .reviews__right-text
                                        p Я одна в городе и встреча с Александром разительно меняло мою жизнь) Приобретя сначала в этой квартире комнату, через несколько лет, с помощью Александра, была продана вся квартира со значительной прибылью! Конечно, Александр не мог оставить меня без жилья и провел сделки и по продаже, и по аренде, и по ипотеке! Квалификация видна сразу: объявление мгновенно начало работать, несколько показов - и вот уже найден покупатель! Я с удовольствием доверю свой квартирный вопрос Александру и в следующий раз! 
                                li.reviews__right-item
                                    .reviews__right-top.flex-wrap.aic
                                        .reviews__right-top-person
                                            .reviews__right-top-person-title Светлана K
                                            .reviews__right-top-person-company Название компании
                                        .reviews__right-top-img
                                            img(src="img/rev.png", alt="")
                                    .reviews__right-text
                                        p Я одна в городе и встреча с Александром разительно меняло мою жизнь) Приобретя сначала в этой квартире комнату, через несколько лет, с помощью Александра, была продана вся квартира со значительной прибылью! Конечно, Александр не мог оставить меня без жилья и провел сделки и по продаже, и по аренде, и по ипотеке! Квалификация видна сразу: объявление мгновенно начало работать, несколько показов - и вот уже найден покупатель! Я с удовольствием доверю свой квартирный вопрос Александру и в следующий раз! 
                            .nums.flex.aic.jcc
                                .current
                                .all
            section.webinars
                .container
                    .webinars__row.flex-wrap.aic
                        .webinars__left
                            .webinars__left-img
                                img(src="img/webinar.png", alt="")
                        .webinars__right
                            h2 Вебинары
                            p На нашем YouTube канале вы можете ознакомится с нашими вебинарами
                            a(href="").btn.btn-icon 
                                | смотреть вебинары
                                .icon
                                    .arrow
            section.partners
                .container
                    h2 Партнеры застройщики
                    ul.partners__list.flex-wrap
                        li.partners__item
                            a(href="").partners__link
                                img(src="img/partners/1.png", alt="")
                        li.partners__item
                            a(href="").partners__link
                                img(src="img/partners/2.png", alt="")
                        li.partners__item
                            a(href="").partners__link
                                img(src="img/partners/3.png", alt="")
                        li.partners__item
                            a(href="").partners__link
                                img(src="img/partners/4.png", alt="")
                        li.partners__item
                            a(href="").partners__link
                                img(src="img/partners/5.png", alt="")
                        li.partners__item
                            a(href="").partners__link
                                img(src="img/partners/6.png", alt="")
                        li.partners__item
                            a(href="").partners__link
                                img(src="img/partners/7.png", alt="")
                        li.partners__item
                            a(href="").partners__link
                                img(src="img/partners/8.png", alt="")
            section.feedback#feedback
                .container
                    .feedback__row.flex-wrap.aic
                        .feedback__left
                            h2 Оставлись вопросы?
                            ul.feedback__list
                                li.feedback__item.flex
                                    a(href="tel:8 (812) 322-00-55").feedback__link.flex
                                        img(src="img/icon/phone.svg ", alt="")
                                        span 8 (812) 322-00-55
                                li.feedback__item.flex
                                    a(href="mailto:partner@advecs.com").feedback__link.flex
                                        img(src="img/icon/mail.svg", alt="")
                                        span partner@advecs.com
                                li.feedback__item.flex
                                    img(src="img/icon/geo.svg", alt="")
                                    span Санкт - Петербург, ул. Правды, 17, м Звенигородская
                                li.feedback__item.flex
                                    img(src="img/icon/time.svg", alt="")
                                    span пн-пт 10:00 - 20:00 <br> сб 11:00 до 17:00
                            ul.feedback__social.social.flex-wrap
                                li.feedback__social-item.social__item
                                    a(href="").telegram
                                li.feedback__social-item.social__item
                                    a(href="").instagram
                                li.feedback__social-item.social__item
                                    a(href="").youtube
                                li.feedback__social-item.social__item
                                    a(href="").vk
                        .feedback__right
                            form(action="").feedback__form
                                h2 Напишите нам! - Мы ответим!
                                label
                                    input(type="text" name="name" placeholder="Ваше имя")
                                    .error-text * Поле необходимо заполнить
                                label
                                    input(type="text" name="company" placeholder="Компания")
                                    .error-text * Поле необходимо заполнить
                                label
                                    input(type="text" name="email" placeholder="Email")
                                    .error-text * Поле необходимо заполнить
                                label
                                    input(type="text" name="phone" placeholder="Телефон")
                                    .error-text * Поле необходимо заполнить
                                label
                                    textarea(placeholder="Ваш вопрос")
                                    .error-text * Поле необходимо заполнить
                                button(type="submit").btn.btn-purple.js-open-success отправить
                                .feedback__privacy
                                    p Нажимая кнопку «Отправить» вы соглашаетесь с 
                                        a(href="") политикой конфиденциальности
        footer.footer
            .container
                .footer__row.flex-wrap.aic
                    .footer__left.flex-wrap.aic
                        p © Адвекс, 2019
                        a(href="http://metris.pro/" target="_blank") metris.pro
                        a(href="") Политика конфиденциальности
                    .footer__right
                        a(href="https://www.trinet.ru/" target="_blank").flex.aic
                            span Разработка сайта:
                            img(src="img/trinet.png", alt="")
            .icon-social-main.js-open-popup-social
                img(src="img/icon/ico-social-m.svg", alt="")
            .overlay
            .popup__call.popup
                .close.js-close-popup
                .popup__inner
                    .popup__title Заполните форму и мы скоро перезвоним Вам!
                    form(action="").popup__form
                        .popup__field
                            input(type="text" placeholder="Ваше имя" name="name")
                        .popup__field
                            input(type="text" placeholder="Телефон" name="phone")
                        button.btn.btn-purple.popup__btn.js-open-success отправить
                        .popup__policy
                            p Нажимая кнопку «Отправить» вы соглашаетесь с 
                                a(href="") политикой конфиденциальности
            .popup__call-success.popup
                .close.js-close-popup
                .popup__inner
                    .popup__icon
                        img(src="img/icon/success.svg", alt="")
                    .popup__title Спасибо!
                    .popup__txt Спасибо за заполнение формы! Мы скоро перезвоним Вам!
                    button.btn.btn-purple.popup__btn.js-close-popup Ок
            .popup__social.popup.flex-wrap
                .close.js-close-popup
                .popup__img
                    img(src="img/iphone.png", alt="")
                .popup__inner
                    .popup__title Следите за нами в социальных сетях!
                    .popup__txt Следите за нами в социальных сетях, узнавайте полезную информацию, пишите для уточнения информации.
                    ul.social.flex-wrap.popup__social-list
                        li.social__item
                            a(href="").telegram
                        li.social__item
                            a(href="").instagram
                        li.social__item
                            a(href="").youtube
                        li.social__item
                            a(href="").vk
            .popup__feedback.popup
                .close.js-close-popup
                .popup__inner
                    .popup__title Спасибо, что помогаете нам стать лучше!
                    form(action="").popup__form
                        .popup__field
                            input(type="text" placeholder="Ваше имя" name="name")
                        .popup__field
                            input(type="text" placeholder="Компания" name="company")
                        .popup__field
                            input(type="text" placeholder="Email" name="email")
                        .popup__field
                            input(type="text" placeholder="Телефон" name="phone")
                        .popup__field
                            textarea(placeholder="Ваш отзыв")
                        button.btn.btn-purple.popup__btn.js-open-success отправить
                        .popup__policy
                            p Нажимая кнопку «Отправить» вы соглашаетесь с 
                                a(href="") политикой конфиденциальности
            .popup__services.popup
                .close.js-close-popup
                .popup__inner
                    .popup__icon
                        img(src="img/icon/ico-popup-s.svg", alt="")
                    .popup__content
                        .popup__title Профессиональная команда
                        .popup__content-desc Вам всегда помогут в наши опытные и квалифицированные сотрудники, на связи партнерский отдел, управляющие по проектам, координаторы и ипотечные специалисты.
                        .popup__content-txt
                            p Работаем по графику 24/7, всегда готовы ответить на ваши вопросы, и в случае необходимости, сопроводить вашего клиента на сделке.
                            p Мы ценим и уважаем наших партнеров и стремимся предоставлять лучший сервис по сопровождению сделок. Работая с нами, вы получаете личных кураторов, в лице наших управляющих по каждому объекту и застройщику, к которым вы можете обратиться в любое время и получить помощь в своем вопросе. 
                            p.purple Наш опыт работы и профессионализм – залог успеха ваших сделок и гарант вашей эффективной и прибыльной работы в будущем. 
                            p Работаем по графику 24/7, всегда готовы ответить на ваши вопросы, и в случае необходимости, сопроводить вашего клиента на сделке.
                            p Мы ценим и уважаем наших партнеров и стремимся предоставлять лучший сервис по сопровождению сделок. Работая с нами, вы получаете личных кураторов, в лице наших управляющих по каждому объекту и застройщику, к которым вы можете обратиться в любое время и получить помощь в своем вопросе. 
                            p.purple Наш опыт работы и профессионализм – залог успеха ваших сделок и гарант вашей эффективной и прибыльной работы в будущем. 
        script(src="js/jquery.min.js")
        script(src="js/slick.min.js")
        script(src="js/imask.min.js")
        script(src="js/main.js")