.team{
    padding: 70px 0;
    background-color: #ffffff;
    position: relative;
    h2{
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        &::after{
            content: "";
            display: block;
            width: 80px;
            height: 5px;
            border-radius: 3px;
            background-color: #85c847;
            margin-left: 30px;
        }
    }
    &__list{
        @include media(1100){
            margin: 0 -15px;
        }  
        @include media(768){
            margin: 0;
        }
    }
    &__item{
        width: 50%;
        padding: 0 35px;
        background: white;
        font-size: 14px;
        @include media(1100){
            padding: 0 15px;
            margin-bottom: 20px;
        }
        @include media(768){
            width: 100%;
            padding: 0;
        }
        &-inner{
            background-color: rgba(247, 249, 253, 0.66);
            border-radius: 2px;
            padding: 25px 10px;
            justify-content: space-between;
            margin: 0 -15px;
            position: relative;
            @include media(1100){
                padding: 40px 0;
                margin: 0;
            }
            @include media(450){
                padding: 15px;
            }
        }
        &-left{
            width: 50%;
            padding: 0 15px;
            @include media(1100){
                width: 100%;
                padding: 0;
                max-width: 270px;
                margin: 0 auto 20px;
            }
        }
        &-right{
            width: 50%;
            padding: 0 15px;
            @include media(1100){
                width: 100%;
                padding: 0;
                max-width: 270px;
                margin: 0 auto;
            }
            &-title{
                color: #979797;
                font-family: $fMons;
                font-size: 14px;
                font-weight: 600;
                margin-bottom: 14px;
            }
        }
        &-img{
            width: 100%;
            height: 250px;
            @include media(1100){
                text-align: center;
                height: auto;
                margin-bottom: 20px;
                img{
                    position: initial;
                }
            }
            img{
                position: absolute;
                top: -10px;
                left: -15px;
            }
        }
        &-title{
            color: #6d4c74;
            font-family: $fSans;
            font-weight: 700;      
            margin-bottom: 1px;
        }
        &-desc{
            color: #515151;
            font-family: $fSans;  
        }
    }
    &__sublist{
        list-style: disc;
        list-style-position: inside;
        &-item{
            color: #515151;
            font-family: $fSans;
            line-height: 15px;   
            margin-bottom: 11px;
        }
    }
    .slick-prev{
        left: -20px;
        top: 135px;
        transform: none;
    }
    .slick-next{
        right: 4px;
        top: 0;
        top: 135px;
        transform:  rotate(180deg);
    }
    &__nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        max-width: 1200px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 1;
        @include media(1200){
            padding: 0 15px;
        }
        @include media(450){
            padding: 0;
            top: auto;
            bottom: 0;
            max-width: 150px;    
        }
        &-item{
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 52px;
            height: 52px;
            border-radius: 50%;
            background-color: #85c847;   
            &::before,&::after{
                background: white;
            }
            &-left{
            }
            &-right{
                transform: rotate(180deg);
            }
        }
    }
    .slick-dots{
        bottom: -50px;
        @include media(450){
            bottom: -15px;
        }
    }
    .slick-dots li button{
        width: 14px;
        height: 14px;
        border-radius: 50%;
        border: 1px solid #85c847;
        background: transparent;
    }
    .slick-active button{
        background-color: #85c847 !important;
    }
}